# common, PHPStorm
.DS_Store
.idea/*
Thumbs.db
db/
tmp/
.env
*.sql

# mapped files inside docker folder
docker/*
!docker/config
!docker/nginx.dockerfile
!docker/php-fpm.dockerfile
!docker/php-ini

# site

opencart/public_html/image/cache

opencart/public_html/system/storage/*
!opencart/public_html/system/storage/modification
!opencart/public_html/system/storage/upload
!opencart/public_html/system/storage/vendor

opencart/storage/*
!opencart/storage/modification
!opencart/storage/upload
!opencart/storage/vendor