							<li>
							  <button class="tabs__btn" data-tabs-btn="tab_voucher">{{ text_technics_voucher }}</button>
							</li>
							
						  <div class="tabs__content" data-tabs-content="tab_voucher">
							<div class="basket__coupon">
							  <label class="ui-label">{{ text_technics_voucher }}</label>
							  <input class="ui-input" type="text" name="voucher" value="{{ voucher }}" placeholder="{{ entry_voucher }}">
							</div>
						  </div>