<!DOCTYPE html>
<html lang="ru" xmlns="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="format-detection" content="telephone=no">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="catalog/view/stylesheet/about-company-css/vendor/animate.css" />
    <link rel="stylesheet" href="catalog/view/theme/technics/css/bootstrap/3.4.1/bootstrap.min.css?v1.1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="catalog/view/stylesheet/about-company-css/base.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://api-maps.yandex.ru/2.1.74/?lang=ru_RU&amp;apikey=2dcff47b-ec9d-4d92-8b55-cd57fe2e0929" type="text/javascript"></script>

</head>

<body class="preload">