ul.suboption_list {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #deb88780;
}

ul.suboption_list li {
    margin: 5px 0 5px 0;
}

.btn.add_suboption {
    margin-top: 5px;
}

.input-suboption-group {
    display: inline-block;
}

.btn.suboption-remove {
    position: absolute;
    margin-left: 5px;
}

.suboption__prod-input {
    vertical-align: middle;
    width: -webkit-fill-available;
}

.suboption__prod-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.suboption__prod-label {
    vertical-align: middle;
    margin-bottom: 0;
}

.suboption__prod-container {
    padding: 10px 25px;
    background-color: #deb88780
}
