{{ header }}
<div class="preload">
<link rel="stylesheet" href="catalog/view/stylesheet/about-company-css/vendor/animate.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="catalog/view/stylesheet/about-company-css/base.css" />
<div class="page-wrap main-page">
    <div class="navbar bavbar-dark bg-dark header-topbar">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="cityToggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-map-marker mr-1"></i> Москва и МО
            </a>
            <div class="dropdown-menu" aria-labelledby="cityToggle">
                <a class="dropdown-item" href="#">Калуга</a>
                <a class="dropdown-item" href="#">Москва и МО</a>
                <a class="dropdown-item" href="#">Санкт-петербург</a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top header-navbar">
        <a class="navbar-brand" href="/">
            <img src="image/catalog/about-company-img/logo.svg" width="90" height="30" class="d-inline-block align-center" alt="fsk">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        НОВОСТРОЙКИ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Все новостройки</a>
                        <a class="dropdown-item" href="#">Готовые квартиры</a>
                        <a class="dropdown-item" href="#">Акции и скидки</a>
                        <a class="dropdown-item" href="#">Покупка квартиры онлайн</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        КОММЕРЧЕСКАЯ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="#">Все новостройки</a>
                        <a class="dropdown-item" href="#">Готовые квартиры</a>
                        <a class="dropdown-item" href="#">Акции и скидки</a>
                        <a class="dropdown-item" href="#">Покупка квартиры онлайн</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ВТОРИЧНАЯ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                        <a class="dropdown-item" href="#">Все новостройки</a>
                        <a class="dropdown-item" href="#">Готовые квартиры</a>
                        <a class="dropdown-item" href="#">Акции и скидки</a>
                        <a class="dropdown-item" href="#">Покупка квартиры онлайн</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button">
                        АКЦИИ И СКИДКИ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button">
                        ИПОТЕКА
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" role="button">
                        О КОМПАНИИ
                    </a>
                </li>
            </ul>

            <div class="phones">
                <a href="tel:84951048919" class="tel mr-3 text-decoration-none text-info"><i class="fas fa-phone"></i> +7 495 104-89-19</a>
                <button class="btn btn-sm btn-info" type="button">Заказать звонок</button>
            </div>
        </div>
    </nav>

    <main>

        <div class="jumbotron jumbotron-fluid d-flex align-items-center">
            <div class="jumbotron__bg" style="background-image: url(image/catalog/about-company-img/content/sample-img.jpg);"></div>
            <div class="container text-light">
                <h1 class="display-4"><b>Наша миссия</b></h1>
                <p class="lead">Помочь клиенту приобрести качественное оборудование для успешного развития его бизнеса, а&nbsp;также предоставить необходимый гарантийный и&nbsp;постгарантийный сервис.​</p>
            </div>
        </div>
        <div class="page-layout">
            <div class="container">
                <div class="row align-items-stretch">
                    <div class="col-lg-10">
                        <!-- start content -->

                        <section class="main-about section-default" id="about">
                            <h2>"СТАНКОМ" сегодня</h2>
                            <div class="row row-cols-lg-2">
                                <div class="col-lg">
                                    <p><strong>ООО "Станком"</strong> — одна из крупнейших в России компаний по поставке и пуско-наладке станков с ЧПУ.
                                    </p>
                                </div>
                                <div class="col-lg">
                                    <p><strong>Компания ООО&nbsp;Станком</strong> является одной из&nbsp;ведущих организаций в&nbsp;станкостроительной сфере, поскольку имеет большой профессиональный опыт в&nbsp;производстве и&nbsp;реализации ЧПУ станков под различные проекты заказчиков.</p>
                                </div>
                            </div>
                            <div class="row row-cols-lg-2 mt-3 align-items-center">
                                <div class="col-lg">
                                    <p><img style="max-width: 100%;" src="image/catalog/about-company-img/content/map.png" alt="alt"></p>
                                </div>
                                <div class="col-lg">
                                    <p class="text-danger"><span class="display-4">14 <small
                                                    style="font-size: .5em;">лет</small></span></p>
                                    <p class="mt-2"><em>Станком работает не&nbsp;только в&nbsp;Москве и&nbsp;Ярославле, но&nbsp;также в&nbsp;Санкт-Петербурге и&nbsp;Краснодаре, но&nbsp;это не&nbsp;мешает компании доставлять станки по&nbsp;всему СНГ, а&nbsp;в&nbsp;частных случаях и&nbsp;за&nbsp;его пределы.</em></p>
                                </div>
                            </div>

                            <div class="row row-cols-lg-2 mt-3">
                                <div class="col-lg">
                                    <p><strong>Компания "Станком", основанная в&nbsp;2006 году</strong>, зарекомендовала себя надежным партнером, который всегда выполняет обязательства. Вертикально интегрированная структура компании позволяет в&nbsp;короткие сроки своими силами проектировать и&nbsp;производить станки любого уровня сложности.</p>
                                </div>
                                <div class="col-lg">
                                    <p>Мы&nbsp;всегда рады предложить вам лучшие условия сервисного обслуживания для поставляемого оборудования, помощь и&nbsp;консультации по&nbsp;всем аспектам. Для каждого заказчика мы&nbsp;осуществляем подбор и&nbsp;поставку необходимого оборудования, прорабатываем технологию, проводим пуско-наладку и&nbsp;диагностику.</p>
                                </div>
                            </div>

                            <!--<div class="row mt-3 align-items-center">
                                <div class="col-lg-5">
                                    <p><a href="#"><img src="assets/images/content/akra.png" style="max-width: 100%;" alt="akra"></a></p>
                                </div>

                                <div class="col-lg-7">
                                    <p>Рейтинговое агентство АКРА впервые присвоило Cтанком кредитный рейтинг BBB+(RU) со
                                        стабильным прогнозом, подтвердив высокую степень надежности компании.</p>
                                </div>
                            </div>-->
                        </section>

                        <section class="main-features section-default" id="numbers">
                            <h2>Станком в цифрах</h2>

                            <div class="row">
                                <div class="col-6 col-md-3 col-lg-3 main-features__item">
                                    <p><img src="image/catalog/about-company-img/content/feature1.svg" alt="alt"></p>
                                    <p class="h3 mb-2">14 <small>лет</small></p>
                                    <p>стабильного роста бизнеса</p>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 main-features__item">
                                    <p><img src="image/catalog/about-company-img/content/feature2.svg" alt="alt"></p>
                                    <p class="h3 mb-2">1800 <small>клиентов</small></p>
                                    <p>совокупное количество проектов за 14 лет</p>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 main-features__item">
                                    <p><img src="image/catalog/about-company-img/content/feature4.svg" alt="alt"></p>
                                    <p class="h3 mb-2">Более 1000 м<sup>2</sup></p>
                                    <p>площадь доступных шоурумов </p>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 main-features__item">
                                    <p><img src="image/catalog/about-company-img/content/feature6.svg" alt="alt"></p>
                                    <p class="h3 mb-2">&gt;50</p>
                                    <p>человек — общее количество сотрудников</p>
                                </div>
                            </div>
                        </section>

                        <section class="section-default main-team" id="team">
                            <h2>Руководство</h2>

                            <div class="main-team__slider" data-settslick="mainTeamSlider">
                                <div class="main-team__item" data-miniature="assets/images/content/team-gen.jpg">
                                    <div class="row align-items-center">
                                        <div class="col-8 col-md-6 col-lg-4 main-team__item_img">
                                            <img src="image/catalog/about-company-img/content/team-gen.jpg" alt="alt">
                                        </div>
                                        <div class="col-lg-8 pl-lg-5">
                                            <span class="h4 d-block mb-0">Александр Евсеев</span>
                                            <small class="d-block mb-3">Основатель и директор</small>
                                            <p>Основатель и операционный директор компании "Станком"</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="section-default main-history" id="history">
                            <h2>История компании</h2>

                            <div class="main-history__nav-slider" data-settslick="mainHistoryNav" id="mainHistoryNav">
                                <div class="text-info"><span>2019</span></div>
                                <div class="text-info"><span>2018</span></div>
                                <div class="text-info"><span>2017</span></div>
                                <div class="text-info"><span>2016</span></div>
                                <div class="text-info"><span>2015</span></div>
                                <div class="text-info"><span>2014</span></div>
                                <div class="text-info"><span>2013</span></div>
                                <div class="text-info"><span>2012</span></div>
                                <div class="text-info"><span>2009</span></div>
                                <div class="text-info"><span>2008</span></div>
                                <div class="text-info"><span>2006</span></div>
                            </div>
                            <div class="main-history__slider" data-settslick="mainHistorySlider" id="mainHistorySlider">
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Улучшение сервиса</span>
                                        <ul>
                                            <li>Введение новой системы гарантийного обслуживания клиентов.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Фирменный стиль</span>
                                        <ul>
                                            <li>Разработка нового фирменного стиля компании «Станком».</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Расширение направления лазерных станков</span>
                                        <ul>
                                            <li>Поставки первых оптоволоконных лазерных станков в&nbsp;Россию. </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Расширение производства</span>
                                        <ul>
                                            <li>Расширение базы предприятия, приобретение производственных мощностей на&nbsp;территории Китайской Народной республики. </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Открытие демонстрационного шоурума</span>
                                        <ul>
                                            <li>Открытие собственного демонстрационного зала, где представлена продукция компании «Станком».</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Расширение базы обрабатываемых материалов</span>
                                        <ul>
                                            <li>Улучшение методик обработки хрупких материалов, а&nbsp;также внедрение новых способов механообработки композитных материалов.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Открытие направления лазерных станков</span>
                                        <ul>
                                            <li>Продажа станков с&nbsp;использованием углекислотного лазера, снабжение новой продукцией российской рекламной отрасли и&nbsp;станков для высокоскоростной фрезерной обработки.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Образование «Станком»</span>
                                        <ul>
                                            <li>Учреждение компании «Станком», выпуск усовершенствованных моделей станков, использующих технологию гидроабразивной резки. </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Ориентация на многосерийное производство</span>
                                        <ul>
                                            <li>Освоение многошпиндельных фрезерно-гравировальных станков, ориентированных на&nbsp;многосерийное производство.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Первое расширение</span>
                                        <ul>
                                            <li>Расширение линейки станков, ориентированных на&nbsp;деревообработку.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-history__item">
                                    <div class="img">
                                        <img src="image/catalog/about-company-img/content/history.jpg" alt="alt">
                                    </div>
                                    <div class="text">
                                        <span class="d-block h5">Начало работы</span>
                                        <ul>
                                            <li>Начало предпринимательской деятельности (ИП&nbsp;Михайлов Сергей Рафаилович).</li>
                                            <li>Открытие цеха по&nbsp;деревообработке на&nbsp;базе станков ЧПУ.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="section-default main-projects" id="projects">
                            <h2>Участие в выставках</h2>
                            <div class="row main-projects__row">
                                <div class="col-md-6 col-lg-6 mb-3 align-items-stretch">
                                    <div class="card main-projects__item">
                                        <img src="image/catalog/about-company-img/content/projects.jpg" class="card-img-top" alt="project">
                                        <div class="card-body">
                                            <h5 class="card-title">Технофорум-2015</h5>
                                            <div class="card-text">
                                                <p><span class="d-inline-block"><i class="fas fa-circle"
                                                                                   style="color: rgb(172, 173, 175);"></i> Краснопресненская наб., 14.</span><br /><br /><span class="d-inline-block">с 19 по 22 октября 2015г.</span></p>
                                                <p>Тема выставки − «Оборудование и&nbsp;технологии для обработки конструкционных материалов».</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 mb-3 align-items-stretch">
                                    <div class="card main-projects__item">
                                        <img src="image/catalog/about-company-img/content/projects2018.jpg" class="card-img-top" alt="project">
                                        <div class="card-body">
                                            <h5 class="card-title">Реклама-2018</h5>
                                            <div class="card-text">
                                                <p><span class="d-inline-block"><i class="fas fa-circle"
                                                                                   style="color: rgb(182, 29, 142);"></i> ЦВК "Экспоцентр", г. Москва</span><br /><br /><span class="d-inline-block">с 25 по 28 сентября 2018г.</span></p>
                                                <p>Мы продемонстрируем вам работу станков и расскажем о всех наших новинках.</p>
                                                <p>На выставке «Металообработка-2019» компания «Станком» представит станки с ЧПУ разной технической комплектации. В частности, предназначенные для лазерной маркировки стальных деталей, лазерного раскроя листового металла и фрезерной обработки металлических изделий, а также заготовок из твердых материалов.</p>
                                            </div>

                                            <!--                                                <button type="button" class="btn btn-info" data-toggle="modal" onclick="location.href='https://www.reklama-expo.ru/ru/visitors/ticket/?step=step1'">Получить билет</button>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 mb-3 align-items-stretch">
                                    <div class="card main-projects__item">
                                        <img src="image/catalog/about-company-img/content/projects2019.jpg" class="card-img-top" alt="project">
                                        <div class="card-body">
                                            <h5 class="card-title">Реклама-2019</h5>
                                            <div class="card-text">
                                                <p><span class="d-inline-block"><i class="fas fa-circle"
                                                                                   style="color: rgb(255, 216, 3);"></i> ЦВК "Экспоцентр", г. Москва</span><br /><br /><span class="d-inline-block">с 21 по 24 октября 2019г.</span></p>
                                                <p>Были рады видеть наших партнеров и постоянных клиентов. Мы уверены, что новые знакомства перерастут в долговременное сотрудничество.</p>
                                                <p>Если вы не смогли посетить выставку, мы предлагаем вам 3D-экскурсию по нашему стенду! </p>
                                            </div>

                                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#tour3d">3D-тур</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="tour3d" tabindex="-1" role="dialog" aria-labelledby="tour3dTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="tour3dTitle">3D - тур</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe allow="vr" allowfullscreen="" frameborder="0" height="480" src="https://my.matterport.com/show/?m=gnk6Ws2ZNnb" width="100%"></iframe></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>

                        <section class="section-default main-trophy" id="trophys">
                            <h2>Награды</h2>

                            <div class="main-trophy__slider" id="trophySlider" data-settslick="trophySlider">
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                                <div>
                                    <img src="image/catalog/about-company-img/content/trophy1.png" alt="alt">
                                </div>
                            </div>
                        </section>

                        <section class="section-default main-news" id="news">
                            <h2>Новости</h2>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <a href="#" class="card">
                                        <div class="card-body">
                                            <time class="card-text text-muted small" datetime="2020-03-23">23 марта 2020</time>
                                            <h5 class="card-title">В комплексе апартаментов «Движение. Тушино» приступили к
                                                возведению первого этажа</h5>
                                            <p class="card-text">Уважаемые клиенты, информируем вас о ходе…</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 mb-3">
                                    <a href="#" class="card">
                                        <div class="card-body">
                                            <time class="card-text text-muted small" datetime="2020-03-23">23 марта 2020</time>
                                            <p class="card-text">Чистота против вируса в ГК ФСК</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 mb-3">
                                    <a href="#" class="card">
                                        <div class="card-body">
                                            <time class="card-text text-muted small" datetime="2020-03-23">23 марта 2020</time>
                                            <p class="card-text">Lorem, ipsum dolor.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 mb-3">
                                    <a href="#" class="card">
                                        <div class="card-body">
                                            <time class="card-text text-muted small" datetime="2020-03-23">23 марта 2020</time>
                                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                Adipisci, enim.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 mb-3">
                                    <a href="#" class="card">
                                        <div class="card-body">
                                            <time class="card-text text-muted small" datetime="2020-03-23">23 марта 2020</time>
                                            <p class="card-text">Lorem, ipsum dolor.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 mb-3">
                                    <a href="#" class="card">
                                        <div class="card-body">
                                            <time class="card-text text-muted small" datetime="2020-03-23">23 марта 2020</time>
                                            <p class="card-text">Lorem, ipsum dolor.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-lg-4 mb-3">
                                    <a href="#" class="card">
                                        <div class="card-body">
                                            <time class="card-text text-muted small" datetime="2020-03-23">23 марта 2020</time>
                                            <p class="card-text">Lorem, ipsum dolor.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <footer class="section-default__footer">
                                <button class="btn btn-info" type="button">Загрузить еще</button>
                            </footer>
                        </section>

                        <section class="section-default main-social" id="social">
                            <h2>Социальная ответственность</h2>

                            <div class="row">
                                <div class="col-md-4 mb-4">
                                    <a href="#" class="card bg-dark text-white">
                                        <img src="image/catalog/about-company-img/content/sample-img.jpg" class="card-img" alt="alt">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title   <i class="fas fa-chevron-right small"></i>
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-8 mb-4">
                                    <a href="#" class="card bg-dark text-white">
                                        <img src="image/catalog/about-company-img/content/sample-img.jpg" class="card-img" alt="alt">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title   <i class="fas fa-chevron-right small"></i>
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-8 mb-4">
                                    <a href="#" class="card bg-dark text-white">
                                        <img src="image/catalog/about-company-img/content/sample-img.jpg" class="card-img" alt="alt">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title   <i class="fas fa-chevron-right small"></i>
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <a href="#" class="card bg-dark text-white">
                                        <img src="image/catalog/about-company-img/content/sample-img.jpg" class="card-img" alt="alt">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title   <i class="fas fa-chevron-right small"></i>
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </section>

                        <section class="section-default main-contacts" id="contacts">
                            <h2>Контакты компании</h2>

                            <div class="main-contacts__text">
                                <span class="small text-muted mb-0 d-block">Главный офис ФСК:</span>
                                <h5 class="mt-0">Москва, ул. Мясницкая, д. 13, стр. 1</h5>
                                <p><span class="d-inline-block"><i class="fas fa-circle" style="color: rgb(172, 173, 175);"></i>
                                Чистые пруды</span><br />
                                    <span class="d-inline-block"><i class="fas fa-circle"
                                                                    style="color: rgb(172, 173, 175);"></i>
                                Лубянка</span></p>

                                <div class="row mb-4 mt-4">
                                    <div class="col-md-8">
                                        <span class="small text-muted mb-0 d-block">Отдел продаж:</span>
                                        <p>+7 495 104-89-19<br />
                                            +7 495 104-89-19<br />
                                            ежедневно с 09:00 до 21:00 без перерывов</p>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small text-muted mb-0 d-none d-md-block">Отдел продаж:</span>
                                        <p><a href="mailto:info@anlider.info">info@anlider.info</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <span class="small text-muted mb-0 d-block">Отдел по сопровождению клиентов:</span>
                                        <p>Москва, ул. Розанова 8 стр. 1<br />
                                            +7 495 032-39-77<br />
                                            понедельник — пятница с 9:00 до 20:00 без перерывов</p>
                                        <p>По вопросам заключения основного договора купли-продажи:<br />
                                            +7 495 106-00-60</p>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="small text-muted mb-0 d-block">Контакты для СМИ:</span>
                                        <p><a href="mailto:pr@fsk.ru">pr@fsk.ru</a></p>
                                    </div>
                                </div>
                            </div>

                            <div class="main-contacts__map" id="yamap"></div>


                            <script src="https://api-maps.yandex.ru/2.1.74/?lang=ru_RU&amp;apikey=2dcff47b-ec9d-4d92-8b55-cd57fe2e0929" type="text/javascript"></script>
                            <script>
                                ymaps.ready(function() {
                                    var settings = {
                                            marker: {
                                                path: "assets/images/marker.png",
                                                size: [30, 37],
                                                offset: [-15, -37]
                                            },
                                            center: [59.93846, 30.361709],
                                            zoom: 13
                                        },
                                        myMap = new ymaps.Map('yamap', {
                                            center: settings.center,
                                            zoom: settings.zoom,
                                            controls: ['zoomControl', 'fullscreenControl']
                                        }, {
                                            searchControlProvider: 'yandex#search'
                                        });

                                    myMap.behaviors.disable('scrollZoom');

                                    myMap.geoObjects
                                        .add(new ymaps.Placemark(myMap.getCenter(), {}, {
                                            // Опции.
                                            // Необходимо указать данный тип макета.
                                            //iconLayout: 'default#imageWithContent',
                                            // Своё изображение иконки метки.
                                            //iconImageHref: settings.marker.path,
                                            // Размеры метки.
                                            //iconImageSize: settings.marker.size,
                                            // Смещение левого верхнего угла иконки относительно
                                            // её "ножки" (точки привязки).
                                            //iconImageOffset: settings.marker.offset
                                        }));
                                });
                            </script>
                        </section>

                        <!-- end content -->
                    </div>
                    <div class="col-lg-2">
                        <aside id="pages" class="page-layout__sidebar sticky-top">
                            <p class="h4 heading">Меню</p>
                            <nav class="nav flex-column">
                                <a class="nav-link" href="#about">СТАНКОМ сегодня</a>
                                <a class="nav-link" href="#team">Руководство</a>
                                <a class="nav-link" href="#history">История</a>
                                <a class="nav-link" href="#projects">Участие в выставках</a>
                                <a class="nav-link" href="#news">Новости</a>
                                <a class="nav-link" href="#contacts">Контакты</a>
                            </nav>
                        </aside>
                    </div>
                </div>
            </div>
        </div>

    </main>

{{ footer }}
</div>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="catalog/view/javascript/about-company-js/vendor/slick.min.js"></script>
<!--script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script-->

<script src="catalog/view/javascript/about-company-js/app.js"></script>

<script src="catalog/view/javascript/about-company-js/vendor/svg4everybody.min.js"></script>
<script>
    svg4everybody();
</script>
</div>