/* CUSTOM CALCULATOR START */
.basic-setup__option-group .ui-label,
.additional-setup__option-group .ui-label {
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 50px;
    background-color: #fff;
    color: #e63e1c;
    cursor: pointer;
}

.basic-setup__option-group + .ui-group,
.additional-setup__option-group + .ui-group {
    padding: 0;
    border: 1px solid #d6d6d6;
    margin-bottom: 10px !important;
}

.basic-setup__option-group .ui-label:hover,
.additional-setup__option-group .ui-label:hover {
    background-color: #f1f1f1;
    transition: 0.2s
}
.sku__settings ul{
    padding-left: 15px;
}
.sku__settings .container{
    padding-left: 36px;
}

#return_option, .ch-opt{
    cursor: pointer;
}

.ch-opt-ul input, ul input{
    margin-right: 5px;
}

.basic-setup__option-block {
    position: relative;
    padding: 20px 10px;
    font-size: 16px;
    line-height: 2rem;
    display: block;
    min-height: 1.5rem;
    font-weight: 400;
}
.additional-setup__option-block {
    position: relative;
    font-size: 16px;
    line-height: 2rem;
    display: block;
    min-height: 1.5rem;
    font-weight: 400;
}

.basic-setup__option-block + hr,
.additional-setup__option-block + hr {
    margin: 0
}


.basic-setup__option-block .ui-size input.ui-check__input,
.additional-setup__option-block .ui-size input.ui-check__input{
    display: none;
}

.basic-setup__option-block ul li,
.additional-setup__option-block ul li {
    padding: 0 !important;
    list-style-type: none;
    margin: 10px 0;
}

.additional-setup__option-block ul.container {
    display: none;
}

.additional-setup__option-block .ui-size {
    cursor: pointer;
    padding: 20px 15px;
    transition: 0.2s
 }

.additional-setup__option-block .ui-size:hover {
    background-color: #f1f1f1;
}
.attent-ui-group{
    margin: 30px 0px;
}

.additional-setup__option-block .ui-size span.ui-check__checkbox {
    cursor: pointer;
    width: 8.5rem;
    left: 72%;
    border: none;
    top: 2.1rem;
}
/* CUSTOM CALCULATOR END */
