.basic-setup__option-group .ui-label {
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 50px;
    background-color: #e63e1c;
    color: #fff;
    cursor: pointer;
}

.basic-setup__option-group .ui-label:hover {
    background-color: #aa3019;
    transition: 0.2s
}

.basic-setup__option-block {
    position: relative;
    padding: 0 0 0 2.5rem;
    font-size: 16px;
    line-height: 2rem;
    margin: 0 0 1rem;
    display: block;
    min-height: 1.5rem;
    font-weight: 400;
}

.basic-setup__option-block .ui-size input.ui-check__input {
    display: none;
}

.basic-setup__option-block ul li  {
    padding: 0 !important;
    list-style-type: none;
    margin: 10px 0;
}
